body {
    font-family: Poppins;
}

header {
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    padding: 4px 0;
    z-index: 100;
}

nav {
    width: 79%;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-right: 0.5rem;
}

.navbar-ul a {
    color: #565555;
}

.navbar-border {
    height: 2.5px;
    background-color: #526DB4;
}

.navbar-border-2 {
    height: 2.5px;
    background-color: #526DB4;
    display: none;
    transition: 1s ease;
}

.navbar-ul>li:nth-child(2):hover .navbar-border-2 {
    display: flex;
}

.navbar-ul>li:nth-child(1):hover .navbar-border-2 {
    display: flex;
}

.girl-img {
    background-color: #BDCF48;
    background-image: url(../../img/about-background.png);
    background-position: center;
    background-size: cover;
    z-index: -1;
    padding-top: 50px;
}

.section-1>div {
    width: 89%;
}

 .girl-img>img {
    width: 35.521%;
}

.cloud-phone-div {
    width: 71.63%;
}

.cloud-phone-div>div {
    display: flex;
}

.cloud-phone-div>div:nth-child(2) {
    width: 40%;
    font-size: 1.458vw;
    font-weight: 500;
}

.cloud {
    width: 61%;
}

.phones {
    width: 40%;
}

.for-download {
    margin-top: 2.5%;
    width: 70%;
}

.for-download>a {
    width: 31.2%;
}

.about-app-section {
    margin-top: 9.1%;
}

.about-app-section>div {
    width: 80.2%;
}

.phones-2 {
    margin-top: 15.9%;
    z-index: 1;
    width: 37.7%;
}

.about-app img:nth-child(2) {
    display: none;
}

.cloud-2 {
    width: 42%;
    transform: translateX(-50%);
    left: 50%;
}

.cloud-2>span {
    font-size: 2.5vw;
    transform: translate(0%, -20%);
}

.cloud-2 p:nth-child(1), .cloud-2 p:nth-child(3) {
    color: #8258A6;
}

.girl-img-2 {
    background-image: linear-gradient(transparent 50%, #8258A6 50%);
    z-index: -1;
    float: right;
}

.girl-img-2>img {
    width: 45.3%;
}

.about-app-p {
    width: 58%;
    font-size: 1.667vw;
    font-weight: 500;
    color: white;
}

.section-4 {
    font-size: 1.667vw;
    font-weight: 500;
    margin-top: 20.8%;
}

.girl-img-3 {
    background-image: linear-gradient(white 63%, #DD7C32 0%);
    z-index: -1;
}

.girl-img-3>img {
    width: 42.9%;
}

.cloud-3 {
    width: 32.3%;
    margin-top: -20.8%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5vw;
}

.cloud-3 p:first-child {
    color: #DD7C32;
}

.cloud-3 p:last-child {
    color: #464646;
}

.phones-1 {
    width: 69.4%;
}

.entrance-exam {
    width: 50%;
}

.entrance-exam-text {
    width: 75%;
    font-size: 1.81vw;
}

.big-phone {
    width: 16.7%;
    z-index: 3;
}

.phones-3 {
   z-index: 2;
   width: 100%;
}

.download-div-1 {
    background-image: url(../../img/background.png);
    background-position: bottom;
    background-size: cover;
}

.download-div-1>img {
    margin-top: 7%;
    width: 43.5%;
    transform: translateX(20%);
}

.download-div-1>div {
    width: 26.9%;
}

.download-div-1 img:nth-child(3) {
    width: 50%;
}

.download-section>div:nth-child(2) {
    background-color: #526DB4;
    font-size: 1.667vw;
    font-weight: 500;
    padding: 3.7% 0 3.1% 0;
}

.googleplay-appstore-div {
    width: 27.8%;
}

.download-section h1 {
    margin-bottom: 2.3%;
}

.powered-by>div:first-child {
    margin: 14.2% 0 1.7% 0;
}

.powered-by h2 {
    font-size: 1.667vw;
}

.logo-2 {
    width: 30.9%;
}

.powered-by-text {
    font-size: 48px;
    margin-right: 1.7%;
}

.powered-by>div:last-child {
    width: 34.1%;
    border: 5px solid #F5641D;
    border-radius: 113px;
    margin: 4% 0 6.3% 0;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #F5641D;
}

.arrow-img {
    width: 12%;
}

.entrance-exam-2 {
    width: 78.8%;
    margin: 9.3% auto 3.9% auto;
    font-size: 48px;
    font-weight: 600;
    color: #464646;
}

.listen-say, .quiz, .build, .texting, .how-many, .comp-q, .definition, .listening, .reading {
    width: 80%;
}

.listen-say {
    margin-left: 13%;
}

.quiz {
    margin-top: 5.2%;
    margin-left: 8%;
}

.build {
    margin-top: 5.6%;
    margin-left: 12.2%;
}

.texting {
    margin-top: 5.7%;
    margin-left: 7.4%;
}

.how-many {
    margin-top: 5.6%;
    margin-left: 12.4%;
}

.comp-q {
    margin-left: 5.5%;
    margin-top: 4.7%;
}

.definition {
    margin-top: 6.5%;
    margin-left: 12.6%;
}

.listening {
    margin-left: 6.8%;
    margin-top: 4.7%;
}

.reading {
    margin-left: 16.4%;
    margin-top: 5.2%;
}

.vector-img {
    width: 6.2%;
}

.headphone-small, .checkbox-small, .build-small, .texting-small, .hashtag-small, .comp-q-small, .definition-small, .listening-small, .reading-small {
    width: max-content;
}

.build>div:first-child, .texting>div:last-child, .how-many>div:first-child, .definition>div:first-child, .listening>div:last-child {
    width:38.5%;
}

.how-many>div:last-child {
    width: 51.4%;
}

.build>div:last-child {
    width: 51.3%;
}

.texting>div:first-child {
    width: 53.3%;
}

.comp-q>div:first-child {
    width: 56%;
}

.reading>div:last-child {
    width: 54.3%;
}

.comp-q>div:last-child, .reading>div:first-child {
    width: 33.3%;
}

.listen-say>div:first-child, .quiz>div:last-child {
    width: 37%;
}

.listen-say>div:last-child{
    width: 49.8%;
}

.listen-say p, .quiz p, .build p, .texting p, .how-many p, .comp-q p, .definition p, .listening p, .reading p {
    font-size: 2.5vw;
    font-weight: 600;
}

.listen-say p:nth-child(3), .quiz p:nth-child(3), .build p:nth-child(3), .texting p:nth-child(3), .how-many p:nth-child(3), .comp-q p:nth-child(3), .definition p:nth-child(3), .listening p:nth-child(3), .reading p:nth-child(3) {
    font-size: 1.25vw;
    color: #464646;
}

.headphone-small>p, .listen-say p {
    color: #EAA92F;
}

.checkbox-small>p, .quiz p {
    color: #B8D137;
}

.build-small>p, .build p {
    color: #8257A6;
}

.texting-small>p, .texting p {
    color: #EAAA2F;
}

.hashtag-small>p, .how-many p {
    color: #BDCF49;
}

.comp-q-small>p, .comp-q p {
    color: #8258A6;
}

.definition-small>p, .definition p {
    color: #EAAA2F;
}

.listening-small>p, .listening p {
    color: #526DB4;
}

.reading-small>p, .reading p {
    color: #DE7C33;
}


.listening>div:first-child {
    width: 54.6%;
}

.definition>div:last-child {
    width: 51.9%;
}

.quiz>div:first-child {
    width: 52.3%;
}

.last-section {
    margin-top: 16.9%;
}

.last-section>div {
    width: 91%;
}

.last-section-text {
    padding: 2rem 0;
    margin-right: -9.9%;
}

.last-section-text>div {
    width: 60%;   
    font-size: 1.667vw;
    font-weight: 500;
    color: #ffffff;
    margin-right: 11%;
}

.cloud-phone-div-2 {
    width: 72.5%;
}

.girl-img-5 {
    background-image: linear-gradient(transparent 71%,#B8D137 50%);
    z-index: -1;
}

.girl-img-5>img {
    width: 40.1%;
}

.phones-4 {
    width: 54.7%;
}

.cloud-text {
    font-size: 2.5vw;
    color: #464646;
    margin-bottom: 27%;
    width: 45.3%;
}

footer {
    background-color: #526DB4;
    padding: 40px 0;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.footer a {
    text-align: end;
}

footer>div {
    width: 78.4%;
}

.footer {
    margin-bottom: 3.5%;
}

@media (max-width: 991px) {
    .header-logo {
        width: 119px;
    }

    .sidebar-lang-change {
        width: 127px;
    }
   
    .girl-img>img {
        width: 55.8%;
    }
   
   .cloud-phone-div>div:nth-child(1) {
       display: block;
   }

   .cloud-phone-div>div:nth-child(2) {
       width: 100%;
       font-size: 18px;
       text-align: center;
   }

   .cloud-phone-div p {
       margin: auto;
   }

   .cloud {
       width: 53.4%;
       position: relative;
       right: 13%;
       margin-top: -2%;
   }

   .phones {
       width: 46.2%;
       margin-top: -10.5%;
       margin-right: 16px;
   }

   .section-1>div, .cloud-phone-div, .cloud-phone-div>div:nth-child(3), .cloud-phone-div a, .about-app>div:first-child, .about-app-section>div, .logo-2, .entrance-exam, .googleplay-appstore-div, .listen-say, .quiz, .build, .texting, .how-many, .comp-q, .definition, .listening, .reading, section:nth-child(7), .last-section>div, .cloud-phone-div-2 {
       width: 100%;
   }

   .entrance-exam-text {
       width: 90.6%;
   }
   
    .girl-img-2 {
        background-image: linear-gradient(transparent 0%, #8258A6 0%);
        padding-top: 47px;
        margin-top: -5%;
    }
   
    .girl-img-2>img {
        float: left;
        width: 52%;
    }

    .about-app img:nth-child(2) {
        width: 43.3%;
        margin-top: 10%;
    }

    .about-app-p {
        font-size: 18px;
        width: 90.6%;
        margin: auto;
        color: #464646;
        margin-top: 5%;
    }

    .about-app-section {
        margin-top: 25%;
    }

    .cloud-2 {
        width: 68%;
        transform: translateX(-5%);
        left: 0;
        margin-top: -36%;
    }
    
    .cloud-2>span {
        font-size: 2.67vw;
        transform: translate(-10%, -30%);
    }

    .cloud-2 p:nth-child(1), .cloud-2 p:nth-child(3) {
        color: #8258A6;
    }

    .cloud-3 {
        width: 44.7%;
        left: 0;
        transform: translateX(0);
        font-size: 2.67vw;
    }

    .cloud-3>div {
        transform: translate(-20%, -15%);
    }

    .girl-img-3 {
        background-image: linear-gradient(transparent 15%, #DD7C32 0%);
        margin-top: 12%;
    }

    .girl-img-3>img {
        width: 38.5%;
    }
  
    .big-phone {
        width: 26%;
    }

    .phones-1 {
        width: 60%;
    }

    .phones-3 {
        width: 89.5%;
    }
    
    .entrance-exam-text {
        font-size: 18px;
        color: #464646;
        margin-top: 10%;
    }

    .download-div-1>img {
        margin-top: 10%;
        width: 68%;
        transform: translateX(0);
    }

    .download-div-1 img:nth-child(3) {
        width: 35%;
        transform: translateY(-50%);
    }

    .download-div-1>div {
        width: 50%;
    }

    .download-section p:first-child {
        font-size: 20px;
        width: 78%;
        margin: auto;
    }

    .powered-by-text {
        font-size: 20px;
        text-align: left;
    }

    .powered-by h2 {
        font-size: 18px;
        text-align: left;
    }

    .powered-by>div:last-child {
        width: 255px;
        border: 2px solid #F5641D;
        padding: 10px 0 10px 20px;
        font-size: 13px;
    }

    .listen-say, .quiz, .build, .texting, .how-many, .comp-q, .definition, .listening, .reading {
        margin: 0;
    }

    .listen-say p:last-child, .quiz p:last-child, .build p:last-child, .texting p:last-child, .how-many p:last-child, .comp-q p:last-child, .definition p:last-child, .listening p:last-child, .reading p:last-child {
        font-size: 18px;
    }

    .headphone-small>img {
        width: 18.6%;
    }

    .checkbox-small>img {
        width: 28.3%;
    }

    .build-small>img {
        width: 20%;
    }

    .texting-small>img, .reading-small>img {
        width: 24.1%;
    }

    .hashtag-small>img, .listening-small>img {
        width: 23.5%;
    }

    .comp-q-small>img {
        width: 32.7%;
    }

    .definition-small>img {
        width: 26.4%;
    }

    .headphone-small>p:last-child, .checkbox-small>p:last-child, .build-small>p:last-child, .texting-small>p:last-child, .hashtag-small>p:last-child, .comp-q-small>p:last-child, .definition-small>p:last-child, .reading-small>p:last-child {
        font-size: 20px;
    }

    .headphone-small>p:last-child, .build-small>p:last-child, .hashtag-small>p:last-child, .definition-small>p:last-child, .reading-small>p:last-child, .listening-small>p:last-child {
        margin-right: 15px;
    }

    .checkbox-small>p:last-child, .texting-small>p:last-child, .comp-q-small>p:last-child, .listening-small>p:last-child {
        margin-left: 15px;
    }

    .listen-say>div:last-child, .comp-q>div:first-child {
        width: 90.5%;
    }

    .quiz>div:first-child {
        width: 92.3%;
    }

    .build>div:last-child, .texting>div:first-child, .reading>div:last-child {
        width: 85.6%;
    }

    .how-many>div:last-child {
        width: 84%;
    }

    .definition>div:last-child {
        width: 87%;
    }

    .listening>div:first-child {
        width: 93%;
    }

    .listen-say>div:first-child, .quiz>div:last-child, .build>div:first-child, .texting>div:last-child, .how-many>div:first-child, .comp-q>div:last-child, .definition>div:first-child, .listening>div:last-child, .reading>div:first-child {
        width: 88%;
    }

    .entrance-exam-2>p {
        font-size: 18px;
    }    

    .girl-img-5 {
        background-image: linear-gradient(transparent 0,#B8D137 0);
        padding-top: 39px;
    }

    .girl-img-5>img {
        width: 42%;
    }

    .cloud-text {
        width: 49%;
        margin-top: -28%;
        margin-bottom: 0;
    }

    .last-section-text {
        margin: 0;
    }

    .last-section-text>div {
        margin: auto;
        width: 91%;
        font-size: 18px;
        color: #464646;
    }

    .cloud-text>p {
        font-size: 2.91vw;
        transform: translate(-5%, -60%);
    }

    .phones-4 {
        width: 52%;
        margin-top: 6%;
    }

    .footer {
        margin: 0;
    }
    
    .footer a, .offcanvas-div a {
        text-align: start;
        margin-bottom: 40px;
    }

    .offcanvas {
        width: 100% !important;
    }

    .offcanvas-div a, .offcanvas-div p {
        color: #526db4;
    }
}